
.gifWrapper {
  /*width: 690px;*/
}

.gifWall {
  width: 720px;
  margin: 0 auto;
  margin-top: 20px;
}

.title {
  margin-top: 20px;
  margin: 0 auto;
  font: helvetica;
  text-align: center;
}

h1 {
  font-size: 45px;
  font-weight: 800;
}

.thumbnail {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.thumbnailContainer {
  margin: 0 auto;
  display: block;
}

.sourceVidCell {
  width: 50%;
  float: left;
}

.gifCell {
  width: 50%;
  height: auto;
  position: relative;
}