
.gifWrapper {
  /*width: 690px;*/
}

.gifWall {
  width: 720px;
  margin: 0 auto;
  margin-top: 20px;
}

.title {
  margin-top: 20px;
  margin: 0 auto;
  font: helvetica;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 45px;
  font-weight: 800;
}

.thumbnail {
  height: 200px;
  width: 600px;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
}

/*.contentThumbnail {

  margin: 0 auto;
  display: block;
  overflow: hidden;
}
*/
.thumbnail:hover {
  background: rgba(0,0,0,0.8);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
}

/*.thumbnailContainer {
  margin: 0 auto;
  display: block;
}
*/

.thumbnailOverlay {
  background:rgba(0,0,0,.75);
  text-align:center;
  /*padding:45px 0 66px 0;*/
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.thumbnailOverlay:hover {
  opacity: 1;
}
/*
.thumbnailText {
  background: rgba(0,0,0,0.8);
  color: white;
  opacity: 0;
  position: absolute;
  z-index: 100;
}*/

.thumbnailText {
  font-family: Helvetica;
}

.sourceVidCell {
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.vidCellWrapper {
  width: 50%;
  float: left;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

.gifCell {
  width: 50%;
  height: auto;
  position: relative;
  border-radius: 0 10px 10px 0;
}



