.webcam {
    border-style: solid;
    border-color: #00cccc;
    border-width: 10px;
}

.backButton {
    position: absolute;
    left: 0px;
    padding: 10px;
}   

.submitMessage {
    font-size: 20px;
    margin: 2px 2px 2px 2px;
}

.taskID {
    font-size: 20px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}