.welcomeBox {
  text-align: left;
  padding: 10px;
  position: absolute;
  width: 800px;
  height: 300px;
  z-index: 15;
  top: 20%;
  left: 50%;
  margin: -100px 0 0 -390px;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  color: white;

}

.securityMessage {
  margin: 10px 1px 1px;
  color: white;

}

.instructions{
  margin: 10px 1px 20px 1px;
  font-size: 19px;
  color: white;
  
}