.vidContainer {
  height: 100vh;
  z-index: 1;
}

.recorder {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 10px;
  bottom: 0px;
  z-index: 2;
}

.playButton {
  z-index: 2;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}