.vidContainer {
  height: 100vh;
}

.glueVid {
  height: 100%;
  z-index: 2;
  margin: 0 auto;
  display: block;
}

.playImg {
  z-index: 4;
  padding: 10px;
  background-color: transparent;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -100px;
  cursor: pointer;
  cursor: hand;
}

.uploadTitle {
  font-size: 20px;
}

/*Response Modal*/

.submitMessage {
    font-size: 15px;
    margin: 2px 2px 2px 2px;
}

.taskID {
    font-size: 25px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}