.vidContainer {
  height: 100vh;
  z-index: 1;
}

.recorder {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 10px;
  bottom: 0px;
  z-index: 2;
}

.playImg {
  padding: 10px;
  background-color: transparent;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -80px;
  cursor: pointer;
  cursor: hand;
}

.uploadGif {
  width: 150%;
  height: 150%;
}

.uploadTitle {
  font-size: 20px;
}

/*Response Modal*/

.submitMessage {
    font-size: 15px;
    margin: 2px 2px 2px 2px;
}

.taskID {
    font-size: 25px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
