.sourceVideo {
  display: block;
  height: 360px;
  width: 480px;
  margin-top: -250px;
  margin-left: 490px;
  z-index: 2;
}

.wallWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  text-align: center;
}

.wallWrapper > * {
  padding: 2px;
  flex: 1 100%;
}
/*
.wallTop {

}

.wallLeft {
  order: 1;
}

.wallCenter {
  flex: 2 0px ;
  order: 2;
}

.wallRight {
  order: 3;
}

.wallBottom {
  order: 4;
}

.wallCol {
  flex: 1 auto;
}

.wallRow {

}*/

@media all and (min-width: 600px) {
  .wallCol { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .wallCenter    { flex: 3 0px; }
  .wallLeft { order: 1; } 
  .wallCenter    { order: 2; }
  .wallRight { order: 3; }
  .wallBottom  { order: 4; }
}


