.wallWrapper {
  background-color: black;
  width: 100%;
  height: 100%;
}

.vidsWrapper {
  height: 100%;
  width: 100%;
}

.vidCell {
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid black;

}

.webcamCell {
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid green;
}

.displayWrapper {
  display: block;
  text-align: center;
  background-color: black;
}

.mainVidWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.mainVideo {
  height: 100vh;
  width: 98%;
}

.reactColWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

./*vidCellWrapper {
  border-radius: 50%;
  position: relative;
  overflow: hidden; 
  border: 4px solid black;
}

.webcamWrapper {
  height: 20%;
  width: 70%;
  border-radius: 50%;
  position: relative;
  overflow: hidden; 
  border: 8px solid #009999;
}
*/
.leftCol {
  text-align: center;
}

.rightCol {
  text-align: center;
}