
/*table {
  margin: 0 auto;
  background-color: black; 
}*/

.vidsWrapper {
  height: 100%;
  width: 100%;
}

.vidCell {
  height: auto;
  width: 80%;
  position: relative;
}

.mainVidWrapper {
  display: block;
  text-align: center;
}

.mainVideo {
  height: 100vh;
  width: auto;
}

.vidColRight {
  float: right;
  width: 10%;
  height: 100%;
  margin-right: 30px;
  margin-top: -750px;
}

.vidColLeft {
  width: 10%;
  height: 100%;
  margin-left: 30px;
  margin-top: -750px;
}
